@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #131313;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
  background-image: url("../images/bg/prod/bg-prod-s-min.png");
  background-repeat: repeat;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../images/bg/prod/bg-prod-s@2x-min.png");
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../images/bg/prod/bg-prod-m-min.png");
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/bg/prod/bg-prod-m@2x-min.png");
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../images/bg/prod/bg-prod-l-min.png");
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/bg/prod/bg-prod-l@2x-min.png");
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  background-color: #84a278;
}

.header__container {
  display: flex;
  padding-top: 12px;
  padding-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 8px;
  }
}

.header__icecream {
  width: 40px;
  height: 37px;
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 25;
}

.header__buy {
  width: 152px;
  height: 42px;
  margin-left: 32px;
  border: none;
  border-radius: 10px;
  background-color: #f8d24e;
  z-index: 25;
}
@media screen and (max-width: 767px) {
  .header__buy {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__buy {
    -webkit-animation-name: slide-left-header;
            animation-name: slide-left-header;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@-webkit-keyframes slide-left-header {
  0% {
    transform: translateX(32);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left-header {
  0% {
    transform: translateX(32);
  }
  100% {
    transform: translateX(0);
  }
}
.hero {
  background-color: #84a278;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 454px;
  margin-top: -1px;
  background-size: contain;
  background-image: url("../images/hero/dots-s-min.png");
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 349px;
  }
}

.hero__content {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .hero__content {
    top: 8%;
    width: 181px;
  }
}

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;
  color: #fcfcfc;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2692307692;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2777777778;
    margin-bottom: 20px;
  }
}

.hero__passion {
  font-weight: 400;
  font-size: 34px;
  line-height: 0.9705882353;
}
@media screen and (min-width: 768px) {
  .hero__passion {
    font-weight: 400;
    font-size: 24px;
    line-height: 0.5416666667;
  }
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 10;
}

.hero__single-button {
  display: flex;
  align-items: center;
  height: 24px;
  width: auto;
  padding: 0 11px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  color: #131313;
  z-index: 11;
}
.hero__single-button:hover {
  border: 2px solid #0a8817;
}
.hero__single-button:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}

.single-button__2 {
  border: none;
  color: #f8d24e;
  text-decoration: underline;
}
.single-button__2:hover, .single-button__2:focus {
  border: none;
  color: #0a8817;
}

.hero__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .retail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .retail {
    display: block;
    margin-top: 28px;
    position: absolute;
    right: 0;
  }
}
.retail__content {
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .retail__content {
    background-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .retail__content {
    margin-right: 20px;
    background-size: 30px;
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}
.retail__content:first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .retail__content:first-child {
    -webkit-animation-name: slide-left;
            animation-name: slide-left;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .retail__content:last-child {
    -webkit-animation-name: slide-left;
            animation-name: slide-left;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
.retail__content:hover, .retail__content:focus {
  transform: scale(1.1);
}
.retail__number {
  display: block;
  margin-bottom: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (max-width: 1279px) {
  .retail__number {
    font-size: 28px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .retail__number {
    font-size: 46px;
    line-height: 1.15;
  }
}
.retail__type {
  display: block;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #fcfcfc;
}
@media screen and (max-width: 1279px) {
  .retail__type {
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .retail__type {
    font-size: 14px;
    line-height: 1.3;
  }
}

.products {
  background-color: transparent;
}

.products__container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.product_subtitle {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  font-family: "Montserrat";
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .product_subtitle {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media only screen and (min-width: 1200px) {
  .product_subtitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.product_title {
  text-align: center;
  margin-bottom: 148px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  font-family: "Seymour One";
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .product_title {
    margin-bottom: 200px;
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media only screen and (min-width: 1200px) {
  .product_title {
    margin-bottom: 300px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.products_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 164px;
}
@media only screen and (min-width: 768px) {
  .products_list {
    flex-direction: row;
    gap: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .products_list {
    gap: 32px;
  }
}

.products__thumb_cream {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 420px;
  border-radius: 24px;
  background-color: #aec6a5;
  padding-top: 124px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (min-width: 768px) {
  .products__thumb_cream {
    width: 225px;
    height: 430px;
    padding-top: 110px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_cream {
    width: 370px;
    height: 530px;
    padding-top: 166px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
  }
}
.products__thumb_cream::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 65%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/products/cream-s-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__thumb_cream::before {
    background-size: 252px 273px;
    background-image: url("../images/products/cream-s@2x-min.png");
  }
}
@media only screen and (min-width: 768px) {
  .products__thumb_cream::before {
    width: 107%;
    height: 55%;
    background-image: url("../images/products/cream-m-min.png");
    position: center;
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__thumb_cream::before {
    background-size: 240px 236px;
    background-image: url("../images/products/cream-m@2x-min.png");
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_cream::before {
    width: 99%;
    height: 70%;
    background-image: url("../images/products/cream-l-min.png");
    position: center;
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__thumb_cream::before {
    background-size: 359px 371px;
    background-image: url("../images/products/cream-l@2x-min.png");
  }
}

.products__thumb_coffee {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 420px;
  border-radius: 24px;
  background-color: #efd478;
  padding-top: 124px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (min-width: 768px) {
  .products__thumb_coffee {
    width: 225px;
    height: 430px;
    padding-top: 110px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_coffee {
    width: 370px;
    height: 530px;
    padding-top: 166px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
  }
}
.products__thumb_coffee::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 65%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/products/coffee-s-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__thumb_coffee::before {
    background-size: 252px 273px;
    background-image: url("../images/products/coffee-s@2x-min.png");
  }
}
@media only screen and (min-width: 768px) {
  .products__thumb_coffee::before {
    width: 107%;
    height: 55%;
    background-image: url("../images/products/coffee-m-min.png");
    position: center;
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__thumb_coffee::before {
    background-size: 240px 236px;
    background-image: url("../images/products/coffee-m@2x-min.png");
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_coffee::before {
    width: 99%;
    height: 70%;
    background-image: url("../images/products/coffee-l-min.png");
    position: center;
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__thumb_coffee::before {
    background-size: 359px 371px;
    background-image: url("../images/products/coffee-l@2x-min.png");
  }
}

.products__thumb_milkshakes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 420px;
  border-radius: 24px;
  background-color: #d6936d;
  padding-top: 124px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (min-width: 768px) {
  .products__thumb_milkshakes {
    width: 225px;
    height: 430px;
    padding-top: 110px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_milkshakes {
    width: 370px;
    height: 530px;
    padding-top: 166px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
  }
}
.products__thumb_milkshakes::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 65%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/products/milk-s-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__thumb_milkshakes::before {
    background-size: 252px 273px;
    background-image: url("../images/products/milk-s@2x-min.png");
  }
}
@media only screen and (min-width: 768px) {
  .products__thumb_milkshakes::before {
    width: 107%;
    height: 55%;
    background-image: url("../images/products/milk-m-min.png");
    position: center;
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__thumb_milkshakes::before {
    background-size: 240px 236px;
    background-image: url("../images/products/milk-m@2x-min.png");
  }
}
@media only screen and (min-width: 1200px) {
  .products__thumb_milkshakes::before {
    width: 99%;
    height: 70%;
    background-image: url("../images/products/milk-l-min.png");
    position: center;
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__thumb_milkshakes::before {
    background-size: 359px 371px;
    background-image: url("../images/products/milk-l@2x-min.png");
  }
}

.card__title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Montserrat";
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .card__title {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media only screen and (min-width: 1200px) {
  .card__title {
    font-size: 30px;
    line-height: 1.2333333333;
    margin-bottom: 65px;
  }
}

.card__description {
  display: block;
  text-align: center;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  font-family: "Montserrat";
  text-align: center;
  letter-spacing: 0.04em;
}
@media only screen and (min-width: 1200px) {
  .card__description {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 65px;
  }
}

.products__button {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: transparent;
  cursor: pointer;
}

.array__icon {
  fill: #131313;
  width: 40px;
  height: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__button:focus .array__icon {
  transform: scaleY(1.5);
}

.products__button:hover .array__icon {
  transform: scaleX(1.2);
}

.about {
  background: rgb(0, 212, 255);
  background: linear-gradient(180deg, rgb(0, 212, 255) 0%, rgb(191, 221, 180) 0%, rgb(132, 162, 120) 100%);
  padding-bottom: 43px;
  padding-top: 60px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .about {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    padding-bottom: 86px;
  }
}
.about__btn {
  align-items: center;
  border: transparent;
  color: #131313;
  background-color: #f8d24e;
  border-radius: 10px;
  display: inline-flex;
  height: 42px;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 164px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
}
.about__btn:hover {
  background-color: #0a8817;
}
.about__btn:focus {
  background-color: #0a8817;
  border: transparent;
  color: #fcfcfc;
  outline: 0;
}
.about__btn:focus .read-more-btn__icon {
  color: #fcfcfc;
}
@media only screen and (min-width: 480px) {
  .about__btn {
    margin: 0 auto;
    margin-top: 38px;
  }
}
@media only screen and (min-width: 768px) {
  .about__container {
    align-items: center;
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__container {
    align-items: center;
    gap: 100px;
  }
}
.about__description {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .about__description {
    text-align: start;
    width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__description {
    width: 463px;
  }
}
.about__heading {
  color: #ffffff;
  font-family: "Seymour One";
  margin-top: 12px;
  text-transform: uppercase;
  background: linear-gradient(to right, #43a047, #eeff41, #f9a825, #ff5722);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
}
@media only screen and (min-width: 768px) {
  .about__heading {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media only screen and (min-width: 1200px) {
  .about__heading {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
  }
}
.about__icon {
  fill: none;
  margin-left: 5px;
  stroke: #131313;
}
.mobile__btn:focus .about__icon {
  stroke: #fcfcfc;
}
.mobile__btn:disabled .about__icon {
  stroke: #ababab;
}
.about__img {
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .about__img {
    margin-top: 0px;
    width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__img {
    width: 490px;
  }
}
.about__logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 470;
  font-size: 18px;
  line-height: 1.2222222222;
}
@media only screen and (min-width: 768px) {
  .about__logo {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media only screen and (min-width: 1200px) {
  .about__logo {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}
.about__picture {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
@media only screen and (min-width: 768px) {
  .about__picture {
    width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__picture {
    width: 490px;
  }
}
.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5833333333;
  padding-top: 4px;
  text-align: left;
}
.about__text:not(:first-child) {
  margin-bottom: 20px;
}
.about__text:last-of-type {
  display: none;
}
@media only screen and (min-width: 768px) {
  .about__text:not(:first-child) {
    margin-top: 8px;
  }
  .about__text:last-of-type {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
  }
  .about__text:last-of-type {
    display: block;
  }
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.advantages {
  padding-bottom: 40px;
  margin: 0 auto;
  background-color: #84a278;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    gap: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__list {
    gap: 80px;
  }
}

.advantages__thumb {
  position: relative;
  width: 70%;
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fcfcfc;
}
@media only screen and (min-width: 768px) {
  .advantages__thumb {
    padding-top: 95px;
    width: 23%;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__thumb {
    padding-top: 100px;
    width: 70%;
  }
}
.advantages__thumb:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/advantages/cow-l-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__thumb:nth-child(1)::before {
    background-image: url("/src/images/advantages/cow-l@2x-min.png");
    background-size: 50px;
  }
}
.advantages__thumb:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/advantages/weight-l-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__thumb:nth-child(2)::before {
    background-image: url("/src/images/advantages/weight-l@2x-min.png");
    background-size: 50px;
  }
}
.advantages__thumb:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/advantages/crema-l-min.png");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__thumb:nth-child(3)::before {
    background-image: url("/src/images/advantages/crema-l@2x-min.png");
    background-size: 50px;
  }
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .advantages__subtitle {
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 0.813559322;
    text-transform: none;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__subtitle {
    font-size: 58px;
    line-height: 1.2068965517;
  }
}

.advantages__description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6666666667;
  text-align: center;
  font-family: "Montserrat";
}
@media only screen and (min-width: 768px) {
  .advantages__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__description {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}

.gallery {
  padding-bottom: 128px;
  background-image: linear-gradient(to bottom, #84a278 0px 25px, transparent 25px);
}
@media only screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84a278 0px 165px, transparent 165px);
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to bottom, #84a278 0px 100px, transparent 100px);
  }
}

.gallery__section {
  margin-top: -1px;
}

.gallery__box {
  position: relative;
  width: 280px;
  height: 130px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 18px;
}
@media only screen and (min-width: 768px) {
  .gallery__box {
    width: 700px;
    height: 330px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__box {
    width: 1015px;
    height: 420px;
  }
}

.image__icecream {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation-name: Icecream;
          animation-name: Icecream;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 15000ms;
          animation-duration: 15000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: calc(var(--shift) * 5000ms);
          animation-delay: calc(var(--shift) * 5000ms);
}

@-webkit-keyframes Icecream {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Icecream {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.image__icecream:nth-of-type(3) {
  -o-object-position: 0px -56px;
     object-position: 0px -56px;
}
@media only screen and (min-width: 768px) {
  .image__icecream:nth-of-type(3) {
    -o-object-position: 0px -106px;
       object-position: 0px -106px;
  }
}
@media only screen and (min-width: 1200px) {
  .image__icecream:nth-of-type(3) {
    -o-object-position: 0px -200px;
       object-position: 0px -200px;
  }
}

.review {
  padding-bottom: 48px;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .review {
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .review {
    padding-bottom: 100px;
  }
}

.swiper-wrapper {
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .swiper-wrapper {
    padding-bottom: 45px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  height: auto;
}

.swiper-img {
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .swiper-img {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .swiper-img {
    margin-bottom: 32px;
  }
}

.swiper-review {
  max-width: 280px;
  border-radius: 10px;
  padding: 34px 34px;
  text-align: center;
  flex-grow: 1;
  background-color: #84a278;
  color: #fcfcfc;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.5833333333;
}
@media only screen and (min-width: 768px) {
  .swiper-review {
    max-width: 705px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: 0.04em;
    padding: 29px 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .swiper-review {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    padding: 39px 73px;
  }
}

.swiper-info {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  color: #131313;
}
@media only screen and (min-width: 768px) {
  .swiper-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: #84a278;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #84a278;
}

.contacts {
  background: linear-gradient(transparent 365px, #84a278 0 100%);
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .contacts {
    background: linear-gradient(transparent 310px, #84a278 0 100%);
  }
}
@media only screen and (min-width: 1200px) {
  .contacts {
    background: linear-gradient(transparent 96px, #84a278 0 100%);
  }
}

.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-list {
    gap: 32px;
    margin-bottom: 64px;
  }
}

.contacts__item {
  width: 100%;
  height: 412px;
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media only screen and (min-width: 768px) {
  .contacts__item {
    width: calc((100% - 32px) / 3);
    height: 528px;
    padding: 40px 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts__item {
    width: calc((100% - 64px) / 3);
    height: 538px;
    padding: 40px 40px;
  }
}

.contacts-categories {
  display: inline-block;
  padding: 0 23px;
  margin-bottom: 19px;
  background: #f8d24e;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #131313;
}
@media only screen and (min-width: 768px) {
  .contacts-categories {
    padding: 0 13px;
    height: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 32px;
  }
}

.contacts-city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: 7px;
}
@media only screen and (min-width: 768px) {
  .contacts-city {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-city {
    margin-bottom: 8px;
  }
}

.contacts-address {
  width: 212px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: #d6936d;
  margin-bottom: 23px;
}
@media only screen and (min-width: 768px) {
  .contacts-address {
    width: 158px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
    margin-bottom: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-address {
    width: 288px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8125;
    margin-bottom: 32px;
  }
}

.chicago {
  width: 190px;
}
@media only screen and (min-width: 768px) {
  .chicago {
    width: 173px;
  }
}
@media only screen and (min-width: 1200px) {
  .chicago {
    width: 262px;
  }
}

.brooklyn {
  width: 185px;
}
@media only screen and (min-width: 768px) {
  .brooklyn {
    width: 160px;
  }
}
@media only screen and (min-width: 1200px) {
  .brooklyn {
    width: 261px;
  }
}

.contacts-time {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-bottom: 23px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
}
@media only screen and (min-width: 768px) {
  .contacts-time {
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-time {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8125;
  }
}

.contacts-time__days {
  color: #131313;
}

.contacts-time__hours {
  color: #ababab;
}
@media only screen and (min-width: 768px) {
  .contacts-time__hours {
    color: #907e82;
  }
}

.contacts-location__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #131313;
}
@media only screen and (min-width: 768px) {
  .contacts-location__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media only screen and (min-width: 1200px) {
  .contacts-location__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }
}

.button-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .button-contacts {
    flex-direction: row;
  }
}

.button-contacts__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 34px;
  width: 196px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-contacts__button:hover {
  background-color: #0a8817;
}
.button-contacts__button:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.button-contacts__button:disabled {
  background-color: #ababab;
}

.button-contacts__icon {
  fill: none;
  margin-left: 13px;
  stroke: #131313;
}
.button-contacts__button:focus .button-contacts__icon {
  stroke: #fcfcfc;
}
.button-contacts__button:disabled .button-contacts__icon {
  stroke: #ababab;
}

.button-contacts__button--border {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-contacts__button--border:hover {
  border-color: #0a8817;
  background-color: transparent;
}
.button-contacts__button--border:focus {
  border-color: #0a8817;
  color: #fcfcfc;
  background-color: transparent;
}
.button-contacts__button--border:disabled {
  border-color: #ababab;
  background-color: transparent;
}

.footer {
  background-color: #84a278;
  padding-bottom: 62px;
}

.footer-banner {
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 42px;
}
.footer-banner__paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  max-width: 238px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-banner__paragraph {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
    max-width: 352px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-banner__paragraph {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
    max-width: 504px;
  }
}
.footer-banner__header {
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2058823529;
  max-width: 200px;
}
@media only screen and (min-width: 768px) {
  .footer-banner__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
    max-width: 352px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-banner__header {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.224137931;
    max-width: 504px;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 38px;
  gap: 27px;
}
@media only screen and (min-width: 768px) {
  .footer-socials {
    margin-bottom: 32px;
    gap: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-socials {
    margin-bottom: 40px;
  }
}

.footer-address {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 40px;
}
.footer-address:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 768px) {
  .footer-address {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8571428571;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-width: 768px) {
  .footer-address {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
  }
}
.footer-address__text {
  color: #131313;
}
.footer-address__tel {
  color: #fcfcfc;
}

.copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
}
.copyright__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  color: #7a7a7a;
  max-width: 170px;
}
@media only screen and (min-width: 768px) {
  .copyright__text {
    letter-spacing: 0.02em;
    max-width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .copyright__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8333333333;
  }
}

@media only screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .footer__wrapper {
    margin-top: 66px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-top: 13px;
  }
}

.footer-socials__icon {
  fill: #84a278;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover .footer-socials__icon {
  fill: #ffffff;
  transform: scale(0.9);
}

.footer-socials__link:focus .footer-socials__icon {
  fill: #ffffff;
  transform: scale(1.1);
}

.menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media only screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu__logo {
  width: 40px;
  height: 37px;
}
@media only screen and (min-width: 768px) {
  .menu__logo {
    width: 48px;
    height: 44px;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 12px 22px;
  background-color: #84a278;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .menu-container {
    padding: 20px 32px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  color: #fcfcfc;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: auto;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    margin-top: 76px;
    gap: 40px;
  }
}

.mobile__link {
  display: block;
  color: #fcfcfc;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21875;
}
.mobile__link.current {
  color: #131313;
}

.mobile__btn {
  margin: 0 auto;
  margin-bottom: 63px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 34px;
  width: 152px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__btn:hover {
  background-color: #0a8817;
}
.mobile__btn:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.mobile__btn:disabled {
  background-color: #ababab;
}
@media only screen and (min-width: 768px) {
  .mobile__btn {
    display: none;
  }
}

.mobile__icon {
  fill: none;
  margin-left: 7px;
  stroke: #131313;
}
.mobile__btn:focus .mobile__icon {
  stroke: #fcfcfc;
}
.mobile__btn:disabled .mobile__icon {
  stroke: #ababab;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 28px;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-location {
  min-width: 280px;
  height: 365px;
  text-align: center;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media only screen and (min-width: 480px) {
  .modal-location {
    max-width: 440px;
    width: 100%;
    height: 365px;
  }
}
@media only screen and (min-width: 768px) {
  .modal-location {
    max-width: 568px;
    height: 458px;
    padding: 32px 60px;
  }
}

.button--close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .button--close {
    top: 20px;
    right: 20px;
  }
}

.modal-icon {
  width: 20px;
  height: 20px;
  fill: #131313;
}

.modal__subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
}
@media only screen and (min-width: 768px) {
  .modal__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
}

.modal-location__thumb {
  width: 224px;
  height: 199px;
  margin: 0 auto;
  margin-bottom: 24px;
  overflow: hidden;
}
@media only screen and (min-width: 480px) {
  .modal-location__thumb {
    width: 224px;
    height: 199px;
  }
}
@media only screen and (min-width: 768px) {
  .modal-location__thumb {
    width: 444px;
    height: 260px;
    margin-bottom: 30px;
  }
}

.modal-map {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 42px;
  border-radius: 10px;
  background-color: #f8d24e;
  color: #131313;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
@media only screen and (min-width: 768px) {
  .modal-map {
    width: 145px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.modal-franchise {
  min-width: 280px;
  min-height: 674px;
  text-align: center;
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .modal-franchise {
    padding: 32px 60px;
    width: 568px;
  }
}

.modal-franchise__subtitle {
  font-size: 15px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .modal-franchise__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    width: 322px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.modal-franchise__descr {
  font-family: "Montserrat";
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5384615385;
  color: #131313;
}
@media only screen and (min-width: 768px) {
  .modal-franchise__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4666666667;
  }
}

.modal-franchise__form {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .modal-franchise__form {
    margin-top: 32px;
  }
}

.modal-franchise__wrapper:not(:last-child) {
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .modal-franchise__wrapper:not(:last-child) {
    margin-bottom: 16px;
  }
}

.modal-form__input,
.modal-form__textarea {
  padding: 8px 12px;
  width: 224px;
  height: 32px;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a278;
  border-radius: 10px;
  color: #84a278;
}
@media only screen and (min-width: 768px) {
  .modal-form__input,
.modal-form__textarea {
    width: 368px;
    height: 42px;
  }
}

.modal-form__textarea {
  height: 64px;
  resize: none;
}
@media only screen and (min-width: 768px) {
  .modal-form__textarea {
    height: 84px;
  }
}

.modal-franchise__btn {
  margin-top: 12px;
  padding: 12px 34px;
  background-color: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #131313;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .modal-franchise__btn {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}/*# sourceMappingURL=index.css.map */