:root {
    $primaryTextColor: #131313; // Чорний. Основний колір тексту.
    $secondaryWhiteColor: #fcfcfc; // Білий. Використовується для білого шрифту тексту та фону карточок.
    $accentColor: #f8d24e; 

    $backgroundMainColor: #84a278; // Темно-зелений. Використовується як фон в секціях та карточках.
    $backgroundSecondaryColor: #97af8d; // Світло=зелений. Використовується як фон в модальному вікні хедера, карточки Ice cream та деяких елементів в модальному вікні.
   
    $footerTextColor: #7a7a7a; // Текст виключно у футері.
    $HoverButtonColor: #0a8817; // Зелений. Використовується як колір кнопок при ховері.

    $iceCoffeeColor: #EFd478; // Світло-жовтий. Використовуєтся у карточці Ice-cofee в секціїї Product. 
    $MilkshakesColor: #D6936d; // Коричневий. Використовуєтся у карточці Milkshake в секціїї Product. 


    // Приклад використання змінних кольорів "color: $primaryTextColor;"
}