<!-- <div data-modal-franchise class="backdrop backdrop--is-hidden"> -->
<div class="modal buy-now">
  <button data-modal-close-second class="button button--close">
    <svg class="modal-icon" fill="currentColor">
      <use href="images/icons.svg#icon-close__modal"></use>
    </svg>
  </button>

  <div class="modal__subtitle buy-now__subtitle">Buy now</div>
  <ul class="buy-now__cards">
    <li class="buy-now__card buy-now__card--green">ice cream</li>
    <li class="buy-now__card buy-now__card--yellow">ice coffee</li>
    <li class="buy-now__card buy-now__card--brown">ice coffee</li>
  </ul>
  <form autocomplete="off" class="buy-now__form">
    <div class="buy-now__wrapper">
      <label class="modal-form__label" for="user-name">
        <input
          class="modal-form__input"
          id="user-name"
          type="text"
          name="name"
          placeholder="Name"
        />
      </label>
    </div>

    <div class="buy-now__wrapper">
      <label class="modal-form__label" for="user-phone">
        <input
          id="user-phone"
          class="modal-form__input"
          type="tel"
          name="phone"
          placeholder="Phone"
        />
      </label>
    </div>

    <div class="buy-now__wrapper">
      <label class="modal-form__label" for="user-coment">
        <textarea
          id="user-coment"
          class="modal-form__textarea"
          name="coment"
          rows="7"
          placeholder="Comment"
        ></textarea>
      </label>
    </div>

    <button type="submit" class="buy-now__btn">Submit</button>
  </form>
</div>
<!-- </div> -->
