<section class="gallery">
  <div class="container gallery__section">
    <div class="gallery__box">
      <picture>
        <source
          srcset="
            images/gallery/image-icecream-1.jpg    1x,
            images/gallery/image-icecream-1-@2.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="images/gallery/image-icecream-1.jpg"
          class="image__icecream"
          alt="gallery with ice-cream"
          loading="lazy"
          style="--shift: 0"
        />
      </picture>

      <picture>
        <source
          srcset="
            images/gallery/image-icecream-2.jpg    1x,
            images/gallery/image-icecream-2-@2.jpg 2x
          "
        />
        <img
          src="images/gallery/image-icecream-2.jpg"
          class="image__icecream"
          alt="gallery with ice-cream"
          loading="lazy"
          style="--shift: 1"
        />
      </picture>

      <picture>
        <source
          srcset="
            images/gallery/image-icecream-3.jpg    1x,
            images/gallery/image-icecream-3-@2.jpg 2x
          "
        />
        <img
          src="images/gallery/image-icecream-3.jpg"
          class="image__icecream"
          alt="gallery with ice-cream"
          loading="lazy"
          style="--shift: 2"
        />
      </picture>
    </div>
  </div>
</section>
