<section class="gallery">
  <div class="container gallery__section">
    <div class="gallery__box">
      <img
        src="images/gallery/image-icecream-1.jpg"
        class="image__icecream"
        alt="gallery with ice-cream"
        loading="lazy"
        style="--shift: 0"
      />

      <img
        src="images/gallery/image-icecream-2.jpg"
        class="image__icecream"
        alt="gallery with ice-cream"
        loading="lazy"
        style="--shift: 1"
      />

      <img
        src="images/gallery/image-icecream-3.jpg"
        class="image__icecream"
        alt="gallery with ice-cream"
        loading="lazy"
        style="--shift: 2"
      />
    </div>
  </div>
</section>
