<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <picture class="header__icecream">
        <source
          media="(min-width: 1200px)"
          srcset="
            images/logo/Logo-l-min.png    1x,
            images/logo/Logo-l@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            images/logo/Logo-l-min.png    1x,
            images/logo/Logo-l@2x-min.png 2x
          "
          width="45"
          height="44"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            images/logo/Logo-l-min.png    1x,
            images/logo/Logo-l@2x-min.png 2x
          "
          width="38"
          height="38"
        />
        <img
          src="images/logo/Logo-l-min.png"
          alt="Логотип сайту - морозиво"
          loading="lazy"
        />
      </picture>

      <!-- <div class="header__logo">main logo</div> -->
    </div>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-burger" width="32" height="32" fill="currentColor">
        <use href="images/icons.svg#icon-menu__burger"></use>
      </svg>
    </button>

    <button class="header__buy" type="button">
      Buy now<svg
        class="button-contacts__icon"
        width="12"
        height="12"
        fill="currentColor"
      >
        <use href="images/icons.svg#icon-greater"></use>
      </svg>
    </button>
  </div>
</header>
