<section class="hero__section container">
  <div class="hero__content">
    <h1 class="hero__title">
      Ice cream made with <span class="hero__passion">passion</span>
    </h1>

    <div class="hero__buttons">
      <a class="single-button__1 hero__single-button" href="#section__products">
        Products
      </a>

      <a class="hero__single-button single-button__2" href="#section__about">
        How it’s made?
      </a>
    </div>
  </div>

  <picture class="hero__picture">
    <img
      src="images/hero/ice-s-min.png"
      class="hero__icecream"
      alt="Головне зображення сайту - морозиво"
      loading="lazy"
    />
    <img src="images/hero/dots-s-min.png" class="hero__background" alt="" />
  </picture>
</section>
