<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="#" class="header__logo">
    <img
      src="images/logo/Logo-l-min.png"
      alt="Головний логотип сайту - морозиво"
      class="header__logo"
    />
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="icon-close" width="40" height="40" fill="currentColor">
      <use href="images/icons.svg#icon-close__modal"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="" class="mobile__link current">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">Contact</a>
    </li>
  </ul>

  <button type="button" class="button-mobile"></button>
</div>
