<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="#" class="menu__logo">
    <picture>
      <source
        srcset="images/logo/Logo-l-min.png 1x, images/logo/Logo-l@2x-min.png 2x"
      />
      <img
        src="images/logo/Logo-l-min.png"
        alt="Site logo - icecream"
        loading="lazy"
      />
    </picture>
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="icon-close" width="32" height="32" fill="currentColor">
      <use href="images/icons.svg#icon-close__modal"></use>
    </svg>
  </button>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link current">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="" class="mobile__link">Contact</a>
    </li>
  </ul>

  <button type="button" class="mobile__btn">
    Buy now
    <svg class="mobile__icon" width="12" height="12" fill="currentColor">
      <use href="images/icons.svg#icon-greater"></use>
    </svg>
  </button>
</div>
