<section class="products" id="product_section">
  <div class="container products__container">
    <p class="product_subtitle">100% natural</p>
    <h2 class="product_title">Products</h2>
    <ul class="products_list">
      <li class="products__thumb_cream">
        <h3 class="card__title">Ice cream</h3>
        <p class="card__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="submit" class="products__button js-product-open-menu">
          <svg class="array__icon" fill="currentColor">
            <use href="images/icons.svg#icon-arrow__default"></use>
          </svg>
        </button>
      </li>

      <li class="products__thumb_coffee">
        <h3 class="card__title">Ice coffee</h3>
        <p class="card__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="submit" class="products__button">
          <svg class="array__icon" fill="currentColor">
            <use href="images/icons.svg#icon-arrow__default"></use>
          </svg>
        </button>
      </li>

      <li class="products__thumb_milkshakes">
        <h3 class="card__title">Milkshakes</h3>
        <p class="card__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="submit" class="products__button">
          <svg class="array__icon" fill="currentColor">
            <use href="images/icons.svg#icon-arrow__default"></use>
          </svg>
        </button>
      </li>
    </ul>
  </section>












