<div data-modal-about class="backdrop backdrop--is-hidden">
  <div class="modal modal-read-more">
    <button data-modal-close-about class="button button--close">
      <svg class="modal-icon" fill="currentColor">
        <use href="images/icons.svg#icon-close__modal"></use>
      </svg>
    </button>
    <div class="modal__subtitle">How it’s made?</div>
    <div class="modal__iframe">
      <iframe
        class="iframe"
        height="199"
        src="https://www.youtube.com/embed/uwwQIvQpkVQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
