<section class="review">
  <div class="container">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="swiper-img"
            srcset="images/review/sl-1@1x.png 1x, images/review/sl-1@2x.png 2x"
            src="images/review/sl-1@1x.png"
            alt="Emily"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="swiper-review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </div>
          <div class="swiper-info">Emily, Los Angeles</div>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            srcset="images/review/sl-2@1x.png 1x, images/review/sl-2@2x.png 2x"
            src="images/review/sl-2@1x.png"
            alt="Sam"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="swiper-review">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </div>
          <div class="swiper-info">Sam, Los Angeles</div>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            srcset="images/review/sl-3@1x.png 1x, images/review/sl-3@2x.png 2x"
            src="images/review/sl-3@1x.png"
            alt="Diana"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="swiper-review">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </div>
          <div class="swiper-info">Diana, Chicago</div>
        </div>
        <div class="swiper-slide">
          <img
            class="swiper-img"
            srcset="images/review/sl-4@1x.png 1x, images/review/sl-4@2x.png 2x"
            src="images/review/sl-4@1x.png"
            alt="Bryan"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="swiper-review">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <div class="swiper-info">Bryan, New-York</div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
