.modal-location {
  min-width: 280px;
  height: 365px;
  text-align: center;
  border: 2px solid $AccentColor;
  border-radius: 10px;
  @include media('mobile') {
    max-width: 440px;
    width: 100%;
    height: 365px;
  }
  @include media('tablet') {
    max-width: 568px;
    height: 458px;
    padding: 32px 60px;
  }
}

.button--close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  @include flex(inline-flex, center, center);
  background-color: transparent;
  @include media('tablet') {
    top: 20px;
    right: 20px;
  }
}

.modal-icon {
  width: 20px;
  height: 20px;
  fill: $PrimaryTextColor;
}

.modal__subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Seymour One';
  @include font(400, 16px, 24px);
  color: $PrimaryTextColor;
  @include media('tablet') {
    @include font(400, 20px, 28px);
    margin-bottom: 30px;
  }
}

.modal-location__thumb {
  width: 224px;
  height: 199px;
  margin: 0 auto;
  margin-bottom: 24px;
  overflow: hidden;
  @include media('mobile') {
    width: 224px;
    height: 199px;
  }
  @include media('tablet') {
    width: 444px;
    height: 260px;
    margin-bottom: 30px;
  }
}

.modal-map {
  @include flex(inline-flex, center, center);
  width: 134px;
  height: 42px;
  border-radius: 10px;
  background-color: $AccentColor;
  color: $PrimaryTextColor;
  @include font(600, 12px, 15px);
  @include media('tablet') {
    width: 145px;
    @include font(600, 14px, 17px);
  }
}
