.modal-read-more {
  max-width: 280px;
  border-radius: 10px;
  border: 2px solid $AccentColor;
  //   tablet
  @include media('tablet') {
    max-width: 568px;
    padding: 32px 60px;
  }
}
.button {
  cursor: pointer;
}
.modal__iframe {
  text-align: center;
  border-radius: 10px;
}
.iframe {
  width: 224px;
  border-radius: 10px;
  @include media('tablet') {
    width: 448px;
  }
}
.modal__text {
  @include font(400, 14px, 20px);
  color: $PrimaryTextColor;
  margin-top: 20px;
  //------tablet--------
  @include media('tablet') {
    @include font(400, 16px, 22px);
    margin-top: 32px;
  }
}
