.about {
  background-color: $BackgroundMainColor;
  padding: 60px 0;
  text-align: center;
  @include media('tablet') {
    padding-bottom: 40px;
  }
  @include media('dekstop') {
    padding-bottom: 86px;
  }
  &__container {
    @include media('tablet') {
      display: flex;
      gap: 32px;
      margin-top: 72px;
    }
    @include media('dekstop') {
      align-items: center;
      gap: 100px;
    }
  }
  &__description {
    margin-top: 40px;
    @include media('tablet') {
      text-align: start;
      width: 336px;
    }
    @include media('dekstop') {
      width: 463px;
    }
  }
  &__heading {
    color: $WhiteIconColor;
    margin-top: 12px;
    text-transform: uppercase;
    @include font(400, 30px, 38px);
    @include media('tablet') {
      @include font(400, 34px, 43px);
    }
    @include media('dekstop') {
      @include font(400, 36px, 45px);
    }
  }
  &__img {
    margin-top: 21px;
    @include media('tablet') {
      width: 336px;
    }
    @include media('dekstop') {
      width: 490px;
    }
  }
  &__logo {
    color: $WhiteIconColor;
    text-transform: uppercase;
    @include font(470, 18px, 22px);
    @include media('tablet') {
      @include font(800, 22px, 27px);
    }
    @include media('dekstop') {
      @include font(800, 30px, 37px);
    }
  }
  &__picture {
    @include media('tablet') {
      width: 336px;
    }
    @include media('dekstop') {
      width: 490px;
    }
  }
  &__text {
    @include font(400, 12px, 19px);
    &:last-of-type {
      display: none;
    }
    &:not(:first-child) {
      margin-top: 4px;
    }
    @include media('tablet') {
      &:not(:first-child) {
        margin-top: 8px;
      }
      &:last-of-type {
        display: block;
      }
    }
    @include media('dekstop') {
      @include font(400, 16px, 28px);
      &:not(:first-child) {
        @include font(400, 14px, 27px);
      }
      &:last-of-type {
        display: block;
      }
    }
  }
}
.read-more-btn {
  @include font(600, 14px, 18px);
  align-items: center;
  background-color: $AccentColor;
  border: transparent;
  border-radius: 10px;
  color: $PrimaryTextColor;
  display: flex;
  justify-content: center;
  height: 42px;
  width: 164px;

  &:hover {
    background-color: $HoverButtonColor;
  }
  &:focus {
    color: $AccentColor;
    background-color: $HoverButtonColor;
    border: transparent;
    outline: 0;
  }
  &:focus {
    .about__button-arrow {
      color: $AccentColor;
    }
  }
  @include media('mobile') {
    margin: 0 auto;
  }
}
