.about {
  padding: 60px 0;
  @include media('tablet') {
    padding-bottom: 53px;
  }
  @include media('dekstop') {
    padding-bottom: 86px;
  }
  &__logo {
    color: $WhiteIconColor;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    @include media('tablet') {
      font-size: 22px;
      font-weight: 800;
    }
    @include media('dekstop') {
      font-size: 30px;
    }
  }
  &__heading {
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    text-transform: uppercase;
    color: $WhiteIconColor;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @include media('mobile') {
      max-width: 200px;
    }

    @include media('tablet') {
      font-size: 34px;
      letter-spacing: 0.06em;
      margin-bottom: 72px;
    }

    @include media('dekstop') {
      margin-bottom: 82px;
      font-size: 36px;
    }
  }
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &__picture {
    position: relative;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    background-color: $AccentColor;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 479px) {
      max-width: 278px;
      max-height: 278px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 61px;
    }

    @media screen and (min-width: 768px) {
      width: 336px;
      height: 330px;
      margin-right: 32px;
    }

    @media screen and (min-width: 1200px) {
      width: 490px;
      height: 490px;
      margin-right: 100px;
    }
  }
  &__img {
    position: absolute;
    transform: translateY(21px);

    border-radius: 50%;
    width: 100%;

    //   width: 278px;
    //   height: 278px;
    @media screen and (min-width: 768px) {
      width: 278px;
    }

    @media screen and (min-width: 768px) {
      transform: translateY(26px);
      width: 336px;
      height: 330px;
    }

    @media screen and (min-width: 1200px) {
      transform: translateY(40px);
      width: 490px;
      height: 490px;
    }
  }
}
.read-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 42px;

  border: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: $PrimaryTextColor;

  background-color: $AccentColor;
  border-radius: 10px;

  &:hover {
    background-color: $HoverButtonColor;
  }

  &:focus {
    background-color: $HoverButtonColor;
    color: $WhiteIconColor;
    border: transparent;
    outline: 0;
  }

  &:focus {
    .about__button-arrow {
      color: $WhiteIconColor;
    }
  }

  @media screen and (max-width: 767.8px) {
    margin: 0 auto;
  }
}
