.about {
  background-color: $BackgroundMainColor;
  padding-bottom: 43px;
  padding-top: 60px;
  text-align: center;
  @include media('tablet') {
    padding-bottom: 40px;
  }
  @include media('desktop') {
    padding-bottom: 86px;
  }
  &__btn {
    width: 164px;
    height: 42px;
    border: transparent;
    color: $PrimaryTextColor;
    background-color: $AccentColor;
    border-radius: 10px;
    @include flex(inline-flex, center, center);

    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include font(600, 14px, 18px);
    &:hover {
      background-color: $HoverButtonColor;
    }
    &:focus {
      background-color: $HoverButtonColor;
      border: transparent;
      color: $SecondaryWhiteColor;
      outline: 0;
    }
    &:focus {
      .read-more-btn__icon {
        color: $SecondaryWhiteColor;
      }
    }
    @include media('mobile') {
      margin: 0 auto;
      margin-top: 38px;
    }
  }
  &__container {
    @include media('tablet') {
      @include flex(flex, center, center);
      gap: 32px;
      margin-top: 72px;
    }
    @include media('desktop') {
      gap: 100px;
    }
  }
  &__description {
    color: $WhiteIconColor;
    @include media('tablet') {
      text-align: start;
      width: 336px;
    }
    @include media('desktop') {
      width: 463px;
    }
  }
  &__heading {
    color: $WhiteIconColor;
    font-family: 'Seymour One';
    margin-top: 12px;
    text-transform: uppercase;
    @include font(400, 30px, 38px);
    @include media('tablet') {
      @include font(400, 34px, 43px);
    }
    @include media('desktop') {
      @include font(400, 36px, 45px);
    }
  }
  &__icon {
    fill: none;
    margin-left: 5px;
    stroke: $PrimaryTextColor;
    .mobile__btn:focus & {
      stroke: $SecondaryWhiteColor;
    }
    .mobile__btn:disabled & {
      stroke: $disabled;
    }
  }
  &__img {
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    @include media('tablet') {
      margin-top: 0px;
      margin-bottom: 0;
      width: 336px;
    }
    @include media('desktop') {
      width: 490px;
    }
  }
  &__logo {
    color: $WhiteIconColor;
    text-transform: uppercase;
    @include font(470, 18px, 22px);
    @include media('tablet') {
      @include font(800, 22px, 27px);
    }
    @include media('desktop') {
      @include font(800, 30px, 37px);
    }
  }
  &__picture {
    @include media('tablet') {
      width: 336px;
    }
    @include media('desktop') {
      width: 490px;
    }
  }
  &__text {
    @include font(400, 12px, 19px);
    padding-top: 4px;
    text-align: center;
    &:not(:first-child) {
      margin-bottom: 20px;
    }
    &:last-of-type {
      display: none;
    }
    @include media('tablet') {
      text-align: left;
      &:not(:first-child) {
        margin-top: 8px;
      }
      &:last-of-type {
        display: block;
      }
    }
    @include media('desktop') {
      @include font(400, 16px, 28px);
      &:last-of-type {
        display: block;
      }
    }
  }
}
