// @import './utils/variables';

.header {
  background-color: $BackgroundMainColor;
}

.header__container {
  //   position: relative;
  display: flex;
  padding-top: 12px;
  padding-bottom: 1px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}

.header__icecream {
  width: 40px;
  height: 37px;
}

.menu-toggle {
  // @include flex(flex, center, center);
  // margin: 0 0 0 auto;

  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 25;
}

.header__buy {
  width: 152px;
  height: 42px;
  margin-left: 32px;
  // margin-left: auto;
  border: none;
  border-radius: 10px;
  background-color: $AccentColor;
  z-index: 25;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    animation-name: slide-left-header;
    animation-duration: 2s;
    // margin-right: 32px;
    animation-fill-mode: forwards;
  }
}

@keyframes slide-left-header {
  0% {
    transform: translateX(32);
  }
  100% {
    transform: translateX(0);
  }
}
