.header {
  background-color: $BackgroundMainColor;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 1px;
  @include media('tablet') {
    padding-top: 20px;
  }
  @include media('desktop') {
    padding-top: 18px;
  }
}

// ===============================================
//                  Header Navigation
// ===============================================

.header__nav {
  display: flex;
  margin-left: 265px;
  @include media('desktop', max) {
    display: none;
  }
}

.header__list {
  display: flex;
  gap: 27px;
  z-index: 50;
}
.header__link {
  @include font(700, 16px, 20px);
  color: $SecondaryWhiteColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $AccentColor;
  }
}
// ===============================================
//                  Header Buttons
// ===============================================

.menu-toggle {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 25;
}

.header__buy {
  @include flex(flex, center, center);

  width: 152px;
  height: 42px;
  margin-left: 32px;

  border: none;
  border-radius: 10px;
  background-color: $AccentColor;
  z-index: 25;
  cursor: pointer;
  @include font(600, 14px, 17px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    animation-name: slide-left-header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  &:focus {
    background-color: $HoverButtonColor;
    color: $SecondaryWhiteColor;
    & .button-contacts__icon {
      stroke: $SecondaryWhiteColor;
    }
  }
  &:hover {
    background-color: $HoverButtonColor;
  }
  &:disabled {
    background-color: $disabled;
  }
}

@keyframes slide-left-header {
  0% {
    transform: translateX(32);
  }
  100% {
    transform: translateX(0);
  }
}
