.hero {
  background-color: $BackgroundMainColor;
}

.hero__container {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 454px;
  margin-top: -1px;

  background-size: contain;
  background-image: url('../images/hero/dots-s-min.png');
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/hero/dots-s@2x-min.png');
  }

  @media screen and (min-width: 768px) {
    height: 349px;
    background-image: url('../images/hero/dots-m-min.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero/dots-m@2x-min.png');
    }

    @media screen and (min-width: 1200px) {
      height: 591px;
      background-image: url('../images/hero/dots-l-min.png');

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero/dots-l@2x-min.png');
      }
    }
  }
}

// ==============================================
//                  Hero Title
// ==============================================
.hero__content {
  position: relative;
  // top: 13%;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 45px;
  }
}

.hero__title {
  max-width: 247px;

  margin-bottom: 32px;

  color: $SecondaryWhiteColor;

  font-family: 'Seymour One';
  @include font(400, 26px, 33px);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    @include font(400, 18px, 23px);
    margin-bottom: 20px;
    max-width: 181px;
  }

  @media screen and (min-width: 1200px) {
    @include font(400, 38px, 48px);
    margin-bottom: 28px;
    max-width: 367px;
  }
}

.hero__passion {
  @include font(400, 34px, 33px);

  @media screen and (min-width: 768px) {
    @include font(400, 24px, 13px);
  }

  @media screen and (min-width: 1200px) {
    @include font(400, 38px, 48px);
  }
}

// ===============================================
//                  Hero Buttons
// ===============================================

.hero__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 20px;
  z-index: 10;

  @media screen and (min-width: 768px) {
    // @include font(400, 38px, 48px);
    padding-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    // @include font(400, 38px, 48px);
    padding-bottom: 45px;
  }
}

.hero__button {
  @include flex(flex, center, center);

  height: 24px;
  width: auto;
  padding: 0 11px;
  background-color: transparent;
  border: 2px solid $AccentColor;
  border-radius: 8px;
  cursor: pointer;

  font-family: 'Montserrat';
  @include font(600, 8px, 10px);
  color: $PrimaryTextColor;
  z-index: 11;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 2px solid $HoverButtonColor;
  }
  &:focus {
    border: 2px solid $HoverButtonColor;
    color: $SecondaryWhiteColor;
  }

  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
    @include font(600, 14px, 17px);
  }
}

.hero__button--no-border {
  border: none;
  color: $AccentColor;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: none;
    color: $HoverButtonColor;
  }

  @media screen and (min-width: 1200px) {
    width: 154px;
  }
}

// =================================================
//                    Hero Plate Section
// =================================================

@keyframes slide-right {
  0% {
    transform: translateX(-32px);
  }
  100% {
    transform: translateX(0);
  }
}

.hero__plate-block {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  gap: 33px;

  @media screen and (min-width: 1200px) {
    gap: 14px;
  }
}

.hero__plate-icecream {
  transform: translateX(-32px);

  animation-name: slide-right;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.hero__plate-text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 20px;

  width: 151px;

  font-family: 'Montserrat';
  @include font(400, 12px, 17px);

  color: $SecondaryWhiteColor;
  fill: $SecondaryWhiteColor;

  transform: translateX(-32px);

  animation-name: slide-right;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 1200px) {
    justify-content: center;
    @include font(400, 14px, 20px);
    width: 220px;
    padding-top: 40px;
  }

  & .products__button {
    margin: 0;
  }
  & .array__icon {
    fill: $SecondaryWhiteColor;
  }
}

// =================================================
//                Hero Main Picture
// =================================================

.hero__bg {
  min-width: 276px;
  min-height: 273px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(15px - 50%));
  z-index: 5;

  @media screen and (min-width: 768px) {
    transform: translateX(calc(180px - 50%));
    min-width: 397px;
    min-height: 379px;
  }

  @media screen and (min-width: 1200px) {
    transform: translateX(calc(290px - 50%));
    min-width: 664px;
    min-height: 642px;
  }
}

// ===========================================
//             Hero Retail Counter
// ===========================================

.retail {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    position: absolute;

    right: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 56px;
  }

  &__content {
    // display: block;
    animation-name: slide-left;
    animation-fill-mode: forwards;

    &:first-child {
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        animation-duration: 2s;
        animation-delay: 0.5s;
      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
      }

      transition: 0.5s;
    }

    &:last-child {
      @media screen and (min-width: 768px) {
        animation-duration: 2s;
        animation-delay: 1s;
      }
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-32px);
    }
  }

  @media screen and (min-width: 1200px) {
    @keyframes slide-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-20px);
      }
    }
  }

  &__number {
    // display: block;
    margin-bottom: 4px;

    font-family: 'Montserrat';
    @include font(900, 28px, 34px);
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $PrimaryTextColor;

    @media screen and (min-width: 1200px) {
      @include font(900, 46px, 56px);
    }
  }

  &__type {
    // display: block;

    @include font(400, 8px, 10px);

    text-align: right;
    color: $SecondaryWhiteColor;

    @media screen and (min-width: 1200px) {
      @include font(400, 14px, 17px);
    }
  }
  z-index: 40;
}
